---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import "motion";
---

<MainLayout title="Titel">
  <article class="bg-baggrund">
    <section
      id="hero_unit"
      class="md:grid grid-cols-2 gap-10 p-10 pt-20 text-farve1"
    >
      <div class="">
        <img src="src/images/bog.jpg" alt="Billede af bogen" class="" />
      </div>
      <div>
        <h1 class="text-5xl font-bold bebas-neue-regular pt-3">
          Københavnerbilleder - en guide til hipster foto af Sten Simons
        </h1>
        <p class="py-10 montserrat">
          Københavnerbilleder er de danske streetfotografers bibel: Det er en
          fusion mellem et kunstværk og en lærebog. Bogen gennemgår alle
          væsentlige aspekter af streetfotografering fra grundlæggende teknik
          til kreative eksperimenter. Alt sammen krydret med masser af
          inspirerende fotos. God læselyst!
        </p>
        <Link href="#koeb_bogen">
          <Button>Køb Nu!</Button>
        </Link>
      </div>
    </section>
    <hr class="border-farve1 border-1" />
    <section id="facts" class="text-farve1 p-10 montserrat">
      <dl class="md:grid grid-cols-2 py-10 pb-20">
        <div class="grid grid-cols-2 gap-4 items-center">
          <dt class="font-bold text-right gap-x-4 text-farve2">Titel:</dt>
          <dd>Københavnerbilleder - en guide til hipster foto</dd>
        </div>
        <div class="grid grid-cols-2 gap-x-4 items-center">
          <dt class="font-bold text-right text-farve2">Forfatter:</dt>
          <dd>Sten Simons</dd>
        </div>
        <div class="grid grid-cols-2 gap-x-4 items-center">
          <dt class="font-bold text-right text-farve2">Antal sider:</dt>
          <dd>344</dd>
        </div>
        <div class="grid grid-cols-2 gap-x-4 items-center">
          <dt class="font-bold text-right text-farve2">Forlag:</dt>
          <dd>Mellem Linjerne</dd>
        </div>
        <div class="grid grid-cols-2 gap-x-4 items-center">
          <dt class="font-bold text-right text-farve2">ISBN:</dt>
          <dd>987-6-987654-32-1</dd>
        </div>
        <div class="grid grid-cols-2 gap-x-4 items-center">
          <dt class="font-bold text-right text-farve2">Pris:</dt>
          <dd>399.-</dd>
        </div>
      </dl>
    </section>
    <hr class="border-farve1 border-1" />
    <section id="billeder" class="md:grid grid-cols-3 gap-10 p-10 text-farve1">
      <img
        src="src/images/bog.jpg"
        alt="Billede af bogen"
        class="py-5 hover:drop-shadow-md"
      />
      <img
        src="src/images/bog_aaben_venstre.jpg"
        alt="Billede af bogen der er åben fra venstre"
        class="py-5 hover:drop-shadow-md"
      />
      <img
        src="src/images/bog_oppefra.jpg"
        alt="Billede af bogen åben oppefra"
        class="py-5 hover:drop-shadow-md"
      />
    </section>
    <hr class="border-farve1 border-1" />
    <section id="kapitlerne" class="p-10 text-farve1">
      <h2 class="text-4xl font-bold py-5 bebas-neue-regular">Kapitlerne</h2>
      <div class="md:grid grid-cols-2 gap-5">
        <div>
          <div class="pb-5 montserrat">
            <h3 class="text-1xl font-bold pb-2">
              Kapitel 1 - Intro til street foto
            </h3>
            <p>
              Hvad er street foto? Det handler i bund og grund om at skyde byens
              liv og byens geometri (urban geometry). I dette kapitel får du en
              grundig intro til hvad street foto er og et overblik over nogen af
              de kendte street-fotografer. Alt krydret med en masse gode
              eksempler på street fotos.
            </p>
          </div>
          <div class="pb-5 montserrat">
            <h3 class="text-1xl font-bold pb-2">
              Kapitel 2 - Om at skyde street
            </h3>
            <p>
              Vil du skyde street? Så er der ikke nogen vej udenom: Du skal ud
              på gaderne og prøve det! I dette kapitel får du en teknisk
              indføring i hvordan du bedst skyder street. Uanset om du er
              begynder eller professionel, er der mange gode tekniske tips og
              tricks til street-skyderiet.
            </p>
          </div>
          <div class="pb-5 montserrat">
            <h3 class="text-1xl font-bold pb-2">
              Kapitel 3 - Om at finde det rette motiv
            </h3>
            <p>
              Indimellem er man heldig, andre gange kommer man hjem helt uden
              gode motiver. Med et par tips og tricks til at finde de rette
              motiver, stiger chancen gevaldigt for at fange de gode motiver.
            </p>
          </div>
          <div class="pb-5 montserrat">
            <h3 class="text-1xl font-bold pb-2">
              Kapitel 4 - Digital street foto
            </h3>
            <p>
              De fleste af os skyder oftest digitalt fordi det er billigere og
              nemmere. Og nogen teknikker og fremgangsmåder egner sig kun til
              digital street foto. I dette kapitel får du en række tips og
              tricks til digital street-foto.
            </p>
          </div>
        </div>
        <div>
          <div class="pb-5 montserrat">
            <h3 class="text-1xl font-bold pb-2">
              Kapitel 5 - Analog street foto
            </h3>
            <p>
              Analog er sejt fordi det er mere “ægte,” dyrere og mere besværligt
              end digital. Det signalerer entusiasme. Nogle teknikker og
              fremgangsmåder egner sig bedst til analog street foto. I dette
              kapitel får du en række tips og tricks til analog street-foto.
            </p>
          </div>
          <div class="pb-5 montserrat">
            <h3 class="text-1xl font-bold pb-2">
              Kapitel 6 - Om at skyde sort/hvid
            </h3>
            <p>
              Alle street-fotografer skyder sort/hvid nu og da. Nogen altid.
              Hvorfor? Hvad er der specielt ved sort/hvid fotografering, og hvad
              adskiller sort/hvid fra farvefotografering? Her får du en række
              tips og tricks til sort/hvid fotografering.
            </p>
          </div>
          <div class="pb-5 montserrat">
            <h3 class="text-1xl font-bold pb-2">
              Kapitel 7 - Kreative teknikker
            </h3>
            <p>
              Dobbelteksponeringer, ICM (intentional camera moves), smadrede
              objektiver, gamle filmruller og alle mulige andre, spændende
              kreative teknikker kan løfte dine fotografier fra at være kedelige
              dokumentationer af hverdagen til at blive vilde kunststykker. Så
              dyk ned i dette kapitel om eksperimenterende teknikker!
            </p>
          </div>
          <div class="pb-5 montserrat">
            <h3 class="text-1xl font-bold pb-2">
              Kapitel 8 - Kom helt tæt på!
            </h3>
            <p>
              Street foto handler om at fotografere livet på gaden - men tør du
              at gå helt tæt på fremmede mennesker og knipse løs? Du kan lige så
              godt øve dig, for det er det der vil gøre dig til en bedre
              street-fotograf…
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr class="border-farve1 border-1" />
    <section
      id="download_kapitel"
      class="grid place-items-center text-farve1 p-10"
    >
      <p class="pb-10 text-3xl bebas-neue-regular">
        Downloade et prøvekapitel via knappen her
      </p>
      <Button>Downloade Nu</Button>
    </section>
    <hr class="border-farve1 border-1" />
    <section id="anmeldelser" class="p-10 text-farve1 montserrat">
      <h2 class="text-4xl font-bold py-5 bebas-neue-regular">Pressen siger</h2>
      <div class="md:grid grid-cols-3 md:divide-x divide-farve1">
        <div class="p-10">
          <div class="grid
		  grid-cols-6 py-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5 fill-farve2"
            >
              <path
                fill-rule="evenodd"
                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                clip-rule="evenodd"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5 fill-farve2"
            >
              <path
                fill-rule="evenodd"
                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                clip-rule="evenodd"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5 fill-farve2"
            >
              <path
                fill-rule="evenodd"
                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                clip-rule="evenodd"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5 fill-farve2"
            >
              <path
                fill-rule="evenodd"
                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                clip-rule="evenodd"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5 fill-farve2"
            >
              <path
                fill-rule="evenodd"
                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                clip-rule="evenodd"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 stroke-farve2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z"
              ></path>
            </svg>
          </div>
          <p>
            Københavnerbilleder er en grundig introduktion til at skyde billeder
            med retro-kant. Hvad enten du er har arbejdet med foto siden
            135-filmen kom på markedet, du kun har skudt digitalt eller er helt
            nybegynder, er der masser af tips og tricks i bogen. <br /> - Hanne
            Hovgaard, Berlingeren
          </p>
        </div>
        <div class="p-10">
          <div class="grid grid-cols-6 py-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5 fill-farve2"
            >
              <path
                fill-rule="evenodd"
                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                clip-rule="evenodd"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5 fill-farve2"
            >
              <path
                fill-rule="evenodd"
                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                clip-rule="evenodd"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5 fill-farve2"
            >
              <path
                fill-rule="evenodd"
                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                clip-rule="evenodd"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5 fill-farve2"
            >
              <path
                fill-rule="evenodd"
                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                clip-rule="evenodd"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 stroke-farve2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z"
              ></path>
            </svg>
          </div>
          <p>
            Teksten er underholdende, og billederne er sku’ flotte. Hvad mere
            skal man sige om en fotobog? <br /> - Kim Kloggaard,
            Fotojournalen.dk
          </p>
        </div>
        <div class="p-10">
          <div class="grid grid-cols-6 py-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5 fill-farve2"
            >
              <path
                fill-rule="evenodd"
                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                clip-rule="evenodd"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5 fill-farve2"
            >
              <path
                fill-rule="evenodd"
                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                clip-rule="evenodd"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5 fill-farve2"
            >
              <path
                fill-rule="evenodd"
                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                clip-rule="evenodd"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5 fill-farve2"
            >
              <path
                fill-rule="evenodd"
                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                clip-rule="evenodd"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5 fill-farve2"
            >
              <path
                fill-rule="evenodd"
                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                clip-rule="evenodd"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5 fill-farve2"
            >
              <path
                fill-rule="evenodd"
                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
          <div>
            <p>
              Sten Simons kan det der - og han bliver bedre og bedre. Stens
              tredje fotobog er klart den bedste - her er han for alvor i sit
              rette element, meget bedre end “studiefotografering som
              begyndere.” Tillykke - godt arbejde. <br /> - Volmer Hansen,
              Lukkertiden.dk
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr class="border-farve1 border-1" />
    <section id="billeder_bogen" class="p-10 text-farve1">
      <h3 class="text-4xl font-bold py-5 bebas-neue-regular">
        Billeder fra bogen
      </h3>
      <div class="grid grid-cols-1 gap-5 justify-items-center md:grid-cols-4">
        <img
          src="src/images/0008.jpg"
          alt=""
          class="py-5 w-[400px] h-[300px] object-fit"
        />
        <img
          src="src/images/agfa_2.jpg"
          alt=""
          class="py-5 w-[400px] h-[300px] object-fit"
        />
        <img
          src="src/images/agfa_3.jpg"
          alt=""
          class="py-5 w-[400px] h-[300px] object-fit"
        />
        <img
          src="src/images/agfa.jpg"
          alt=""
          class="py-5 w-[400px] h-[300px] object-fit"
        />
        <img
          src="src/images/anamorfiske.jpg"
          alt=""
          class="py-5 w-[400px] h-[300px] object-fit"
        />
        <img
          src="src/images/lomo_2.jpg"
          alt=""
          class="py-5 w-[400px] h-[300px] object-fit"
        />
        <img
          src="src/images/lomo.jpg"
          alt=""
          class="py-5 w-[400px] h-[300px] object-fit"
        />
        <img
          src="src/images/nikkormat_2.jpg"
          alt=""
          class="py-5 w-[400px] h-[300px] object-fit"
        />
        <img
          src="src/images/nikkormat_3.jpg"
          alt=""
          class="py-5 w-[400px] h-[300px] object-fit"
        />
        <img
          src="src/images/nikkormat.jpg"
          alt=""
          class="py-5 w-[400px] h-[300px] object-fit"
        />
        <img
          src="src/images/amarminoen.jpg"
          alt=""
          class="py-5 w-[400px] h-[300px] object-fit"
        />
        <img
          src="src/images/orestad.jpg"
          alt=""
          class="py-5 w-[400px] h-[300px] object-fit"
        />
      </div>
    </section>
    <hr class="border-farve1 border-1" />
    <section id="forfatteren" class="p-10 text-farve1">
      <h2 class="text-4xl font-bold py-5 bebas-neue-regular">Forfatteren</h2>
      <div class="md:grid grid-cols-2 gap-5">
        <img
          src="src/images/sten_simons.jpg"
          alt="Billede af forfatteren"
          class="w-[400px] h-[300px] object-cover"
        />
        <p class="montserrat">
          Sten Simons har en lang foto-karriere bag sig. Det hele startede i
          00’erne, da han gik rundt i Pisserenden for at fotografere ungdommens
          forfald. Det ledte til en række udstillinger, og blev senere til hans
          først fotobog “Ungdomsdruk - pinlige billeder fra nattelivet.”
          Derefter tog karrieren fart: Han blev fotojournalist og dokumenterede
          en masse dagligdagsstof fra Amager på dagbladet “Amagerkaneren.”
          Sideløbende begyndte han at undervise i foto, og har skrevet et utal
          af bøger, herunder bestsellerne Scener fra S-toget, Brun mad - en
          visuel odysse, og lærebogen Fotografering for evnesvage.
        </p>
      </div>
    </section>
    <hr class="border-farve1 border-1 pb-10" />
    <section id="koeb_bogen" class="bg-farve2 px-5 text-farve">
      <form class="max-w-lg mx-auto p-6">
        <h2 class="text-4xl font-bold py-5 text-baggrund bebas-neue-regular">
          Køb Københavnerbilleder nu!
        </h2>

        <!-- Antal -->
        <div class="flex items-center py-5 montserrat">
          <label for="antal" class="text-baggrund pr-2">Antal:</label>
          <input
            type="number"
            id="antal"
            name="antal"
            placeholder="1"
            class="w-20 p-2 border border-gray-300 rounded-lg"
          />
        </div>

        <!-- Levering -->
        <div class="pb-5 montserrat">
          <p class="text-baggrund pb-2">Levering:</p>
          <div class="grid grid-cols-2">
            <div class="">
              <input type="radio" id="postdk" value="PostDK" />
              <label for="postdk" class="text-baggrund">PostDK</label>
            </div>
            <div>
              <input type="radio" id="afhent" value="afhent" />
              <label for="afhent" class="text-baggrund">Afhent</label>
            </div>
          </div>
        </div>

        <!-- Navn -->
        <div class="pb-5 montserrat">
          <label for="navn" class="block text-baggrund">Navn:</label>
          <input
            type="text"
            id="Navn"
            name="Navn"
            placeholder="Navn"
            class="w-full p-2 border border-gray-300 rounded-lg"
          />
        </div>

        <!-- Adresse -->
        <div class="pb-5 montserrat">
          <label for="address" class="block text-baggrund">Adresse:</label>
          <input
            type="text"
            id="address"
            name="address"
            placeholder="Adresse"
            class="w-full p-2 border border-gray-300 rounded-lg"
          />
        </div>

        <!-- E-mail -->
        <div class="pb-5 montserrat">
          <label for="email" class="block text-baggrund">E-mail:</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            class="w-full p-2 border border-gray-300 rounded-lg"
          />
        </div>

        <!-- Postnummer og by -->
        <div class="pb-5 montserrat">
          <label for="postcode" class="block text-baggrund"
            >Postnummer og by:</label
          >
          <div class="grid grid-cols-2 gap-5">
            <input
              type="text"
              id="postcode"
              name="postcode"
              placeholder="Postnummer"
              class="w-50 p-2 border border-gray-300 rounded-lg"
            />

            <input
              type="text"
              id="by"
              name="by"
              placeholder="By"
              class="w-full p-2 border border-gray-300 rounded-lg"
            />
          </div>
        </div>

        <!-- Telefon -->
        <div class="pb-5 montserrat">
          <label for="tel" class="block text-baggrund">Telefon:</label>
          <input
            type="tel"
            id="tel"
            name="tel"
            placeholder="Telefon"
            class="w-full p-2 border border-gray-300 rounded-lg"
          />
        </div>

        <!-- Nyhedsbrev -->
        <div class="flex items-center pb-5 montserrat">
          <input
            type="checkbox"
            id="newsletter"
            name="newsletter"
            class="mr-2"
          />
          <label for="newsletter" class="text-baggrund"
            >Tilmeld mig nyhedsbrevet</label
          >
        </div>

        <!-- knap -->
        <button
          type="submit"
          class="flex items-center bg-baggrund px-10 py-2 border border-baggrund rounded-lg montserrat"
          >Til betaling</button
        >
      </form>
    </section>
  </article>

  <script>
    import { inView } from "motion";

    // <-- inview kapitlerne -->
    const kapitlerneFadeup = document.querySelector("#kapitlerne");

    inView(kapitlerneFadeup, () => {
      kapitlerneFadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig",
        "animate__slow"
      );
    });

    // <-- inview facts -->
    const factsFadeup = document.querySelector("#facts");

    inView(factsFadeup, () => {
      factsFadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig",
        "animate__delay-0.5s",
        "animate__slow"
      );
    });

    // <-- inview billeder -->
    const billederFadeup = document.querySelector("#billeder");

    inView(billederFadeup, () => {
      billederFadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig",
        "animate__slow"
      );
    });

    // <-- inview anmeldelser -->
    const anmeldelserFadeup = document.querySelector("#anmeldelser");

    inView(anmeldelserFadeup, () => {
      anmeldelserFadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig",
        "animate__slow"
      );
    });

    // <-- inview forfatteren -->
    const forfatterenFadeup = document.querySelector("#forfatteren");

    inView(forfatterenFadeup, () => {
      forfatterenFadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig",
        "animate__delay-0.5s",
        "animate__slow"
      );
    });
  </script>
  <style>
    .minegenclass:hover {
      animation: bounceIn;
      animation-duration: 2s;
    }
  </style>
</MainLayout>
