---

---

<div
  class="text-farve1 md:grid md:grid-cols-2 p-8 bg-farve3 text-farve1 justify-items-center montserrat"
>
  <p>Lavet med masser af hårdt arbejde af Sten Simons</p>
  <p>Copyright 2015 Sten Simons & forlaget Mellem Linjerne</p>
</div>
